<div ui-view class="dashboard">
    <h2 id="title">Sample Bioinformatics Home Page</h2>
    <p>DNA: <input type="text" name="DNA" ng-model="index.dna" /></p>
    <button ng-click="index.decodeDNA()" type="submit" class="btn" id="decodeBtn">Click to Decode DNA</button>

    <div id="results" ng-show="index.showResults">
        <div id="mRNA">mRNA: {{index.mRNA}}</div>
        <div id="tRNA">tRNA: {{index.tRNA}}</div>
        <div id="aminoAcids">
            <p>Amino Acids:</p>
            <ul>
                <li id="acid" ng-repeat="acid in index.aminoAcids">{{acid}}</li>
            </ul>
        </div>
    </div>
</div>