<div ui-view>
    <div>
        <div class="form-group">
            <label class="col-md-2 control-label text-right" for="dna">DNA</label>
            <div class="col-md-10" ng-class="{'has-error': index.error}">
                <input id="dna" class="form-control" name="DNA" ng-model="index.dna" type="text">
                <span id="error" class="help-block" ng-show="index.error">{{index.errorMessage}}</span>
            </div>
        </div>
        <div class="col-md-offset-2 col-md-10" style="padding-top: 2px">
            <button ng-click="index.decodeDNA()" type="submit" class="btn btn-default" id="decodeBtn">Click to Decode DNA</button>
        </div>
        <div id="results" ng-show="index.showResults" class="col-md-offset-2 col-md-5" style="padding-top: 2px">
            <ul class="list-group">
                <li class="list-group-item" id="mRNA">mRNA: {{index.mRNA}}</li>
                <li class="list-group-item" id="tRNA">tRNA: {{index.tRNA}}</li>
                <li class="list-group-item" id="acid" ng-repeat="acid in index.aminoAcids track by $index">Amino Acid {{$index+1}}: {{acid}}</li>
            </ul>
        </div>
    </div>
</div>